body{
    background-color: black;
    font-family: Arial, sans-serif;
}
h1{
    color: orangered;
}
.cor1{
    background-color: orangered;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: orangered;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
